/* about page */

h1,
h2 {
 text-align: center;
 color: #175563;
}
.our-company-txt  {
 font-size: 22px;
 line-height: 1.5;
}
.about {
 padding-top: 8em;
}
.about-pictures {
 width: 400px;
 padding: 10px;
}

.our-company {
 width: 400px;
 padding: 10px;
}
.about-wrapper {
 max-width: 1200px;
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 margin: 0 auto;
 padding-top: 50px;
 gap: 55px;
}
