/* checkout page*/

.jacket-review {
 padding-top: 13rem;
}

.account-payment-deliver {
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 gap: 20px;
 padding-top: 50px;
}
.deliver h1,
.account h1,
.payment h1 {
 text-align: center;
}
.account,
.payment,
.deliver {
 height: 300px;
 width: 300px;
 border: 2px solid #26616e;
}
#cvc,
#expr-date,
#card-nr,
#select-account,
.account input {
 padding-top: 2px 5px;
 border: 2px solid black;
 padding: 3px 0px;
 text-align: center;
}
#select-account {
 padding: 3px 0px;
}
#cvc,
#expr-date,
#card-nr,
#select-account,
.email-account,
.post-account {
 margin: 10px;
}

.checkbx {
 padding: 0px;
 margin: 10px;
}

.fa-cc-visa {
 background: blue;
}

.fa-cc-mastercard {
 background: rgb(136, 113, 12);
}
