
/* empty cart*/
.empty-cart {
  padding-top: 200px;
 }
 
 .empty--cart {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
 }
 
 .empty--cart1 {
  height: 150px;
  width: 450px;
  background: #26616e;
  border: 1px solid #26616e;
 }
 
 .empty--cart1 p {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  color: white;
  padding-top: 30px;
 }