/*Media queries*/
@media only screen and (min-width: 400px) {
 /* header {
  justify-content: space-around;
 }

 nav {
  display: block;
  position: static;
 }

 nav li {
  display: inline-block;
  position: relative;
 }

 header label {
  display: none;
 }
 .search-item {
  position: relative;
  margin-top: 50px;
  bottom: 20px;
  left: 3.75rem;
 }
 #search {
  padding: 8px 63px 8px 49px;
 } */

 .wellcome-page {
  padding-top: 10em;
 }

 .men-main-products {
  padding-top: 211px;
 }

 
 .about {
  padding-top: 13em;
 }
 
 
}
@media only screen and (min-width: 650px) {
  .about-wrapper {
    flex-direction: row;
   }
  .jackets-mens {
  grid-template-columns: repeat(2, 1fr);
 }
 .checkoutOverview {
  margin: 0 auto;
  grid-template-columns: repeat(2, 1fr);
 }

 .products {
  
  grid-template-columns: 1fr 1fr ;
  
 }

}
@media only screen and (min-width: 950px) {
 header {
  justify-content: space-around;
 }

 nav {
  display: block;
  position: static;
 }

 nav li {
  display: inline-block;
  position: relative;
 }

 header label {
  display: none;
 }
 .search-item {
  position: relative;
  margin-top: 50px;
  bottom: 20px;
  left: 3.75rem;
 }
 #search {
  padding: 8px 63px 8px 49px;
 }

 .jackets-mens {
  grid-template-columns: repeat(3, 1fr);
 }
 .footer-wrapper {
  flex-direction: row;
 }
 .footer-wrapper {
  flex-direction: row;
 }
 .product-links {
  padding-left: 11rem;
 }
 .product--links {
  padding-left: 16rem;
 }

 /* .jacket-overview {
  grid-template-columns: 1fr 1fr 1fr 1fr;
 } */

 .productss-0 {
  /* margin: 25px auto; */

  grid-template-columns: repeat(2, 1fr);
 }
 .checkoutOverview {
  
  /* margin: 0 auto; */
  grid-template-columns: repeat(3, 1fr);
 }

 .checkout-0 {
  
  grid-template-columns: repeat(2, 1fr);
  /* border: 2px solid #175563; */
 }

 .products {
  
  grid-template-columns: 1fr 1fr 1fr;
  
 }
}
