.productss {
 padding-top: 12rem;
}

.productss-0 {
 max-width: 770px;
 margin: 25px auto;
 display: grid;
 grid-template-columns: 1fr;
 border: 2px solid #175563;
}

.productss--0 {
 width: 350px;
 height: 350px;
 /* border: 2px solid yellowgreen; */
}

.productss-1 {
 width: 300px;
 height: 350px;
 /* border: 2px solid blue; */
}

.productss-1,
.productss--0 {
 margin: 20px auto;
}

.productss-1 p {
 font-size: 21px;
 font-weight: bold;
}

/* chrome, safari, edge, opera */
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
 -webkit-appearance: none;
 margin: 0;
 width: 50px;
 height: 30px;
 border: 1px solid black;
}

/* firefox */
input[type="number"] {
 -moz-appearance: textfield;
 width: 50px;
 height: 30px;
 border: 1px solid black;
}

.minus-btn,
.plus-btn {
 width: 35px;
 height: 35px;
 background: white;
 border: 1px solid black;
}

.productss-cta {
 background: #175563;
 color: white;
 text-decoration: none;
 padding: 9px 60px;
}

.productss-cta:hover{
  border: 2px solid #175563 ;
  color: #175563;
  background: white;
}
