@import "links.css";

body {
 margin: 0px;
 min-height: 100vh;
 grid-template-rows: auto 1fr auto;
}

/*Header section*/

.logo {
 background-image: url(/images/logo-RN.png);
 background-size: cover;
 height: 65px;
 width: 85px;
 margin: 10px 50px;
}

header {
 background: #26616e;
 color: white;
 display: flex;
 align-items: center;
 justify-content: space-evenly;
 position: fixed;
 width: 100%;
}
header a {
 padding: 10px;
}
nav {
 display: none;
 position: fixed;
 top: 105px;
 right: 0px;
 z-index: 1000;
 background: #26616e;
}
nav ul {
 padding: 0px;
}
nav li {
 display: block;
 padding: 10px 20px;
 margin: 8px 55px;
}
li a {
 color: white;
 background: #175563;
 text-decoration: none;
 line-height: 2px;
}
li a:hover {
 color: #175563;
 background: white;
}
#humburger-menu {
 display: none;
}
#humburger-menu:checked ~ nav {
 display: block;
}

.search-item {
 position: relative;
 margin-top: 50px;
 bottom: 20px;
 right: 10px;
}
#search {
 padding: 5px 5px 5px 24px;
}

.nav-icons {
 position: relative;
 left: 12rem;
 bottom: 24px;
}

.logg-inn {
 border: 1px solid;
 pointer-events: none;
}
.active {
 background: white;
 color: #26616e;
}

/* footer*/
footer {
 background: #005668;
 margin: 20px 0px 0px 0px;
 max-height: 100vh;
 padding-bottom: 1px;
}
.footer-wrapper p {
 text-transform: lowercase;
}

.footer-wrapper {
 display: flex;
 flex-direction: column;
 margin: 50px auto;
 padding: 10px;
}
.footer-wrapper > * {
 display: flex;
 flex: 1;
 flex-direction: column;
 color: white;
}
.contact--home {
 display: inline-flex;
}
.product-links div {
 line-height: 2.1;
}
.product-links {
 text-transform: uppercase;
}
.product--links div {
 line-height: 2.1;
}
.product--links {
 text-transform: uppercase;
}
.product--links li,
.product-links li {
 list-style-type: none;
}

.footer-home {
 position: relative;
 top: 55px;
 left: 30px;
 max-height: 35px;
 border: 1px solid;
 display: ruby;
}
.footer-email {
 position: relative;
 top: 60px;
}

.overall-review {
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 gap: 10px;
 margin: 50px auto;
}
